<section id="cover">
    <div id="cover-caption">
        <div id="container" class="container">
            <div class="row">
                <div class="col-sm-10 offset-sm-1 text-center">
                    <h1 class="display-3">Enter your key to activate school manager</h1>
                    @ViewBag.error
                    <div class="info-form">
                        <form class="form-inline justify-content-center" asp-action="Use" method="POST">
                            <div class="form-group">
                                <label class="sr-only">Key</label>
                                <input name="keyText" type="text" class="form-control" placeholder="Your key here">
                            </div>
                            <button type="submit" class="btn btn-success ">okay, go!</button>
                        </form>
                    </div>
                    <br>

                    <a href="#nav-main" class="btn btn-secondary-outline btn-sm" role="button">↓</a>
                </div>
            </div>
        </div>
    </div>
</section>