@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SpeedyAPI</h1>
    <p>Face detection, recognition is easy with Speedy</p>
    <p>Face attendance is easy with Speedy!</p>
    <p>Dont't have any key ? get it now on <a href="https://docs.microsoft.com/aspnet/core">Speedy plan</a>.</p>
    <h3>OR you already have a key</h3>
    <p>Use it at <a href="/keys/use"></a></p>
</div>
