@model SpeedyAPI.Models.Attendance

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_logged.cshtml";
}

<h1>Create</h1>

<h4>Attendance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_subject" class="control-label"></label>
                <input asp-for="id_subject" class="form-control" />
                <span asp-validation-for="id_subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_student" class="control-label"></label>
                <input asp-for="id_student" class="form-control" />
                <span asp-validation-for="id_student" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="checkin" class="control-label"></label>
                <input asp-for="checkin" class="form-control" />
                <span asp-validation-for="checkin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="checkout" class="control-label"></label>
                <input asp-for="checkout" class="form-control" />
                <span asp-validation-for="checkout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
