@{
    Layout = "_Layout_logged";
}

<div class="container">
    <h1>
        Hi @ViewBag.schoolName's manager
    </h1>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Majors manage</h5>
                    <p class="card-text">You can manage majors here</p>
                    <p class="card-text">Total majors: @ViewBag.schoolMajorsCount</p>
                    <a asp-controller="Majors" asp-action="Index" class="btn btn-primary">Major manage panel</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Students manage</h5>
                    <p class="card-text">You can manage students here</p>
                    <p class="card-text">Total majors: @ViewBag.schoolStudentsCount</p>
                    <a asp-controller="Students" asp-action="Index" class="btn btn-primary">Students manage panel</a>
                </div>
            </div>
        </div>
    </div>
</div>



