@{
    Layout = "_Layout_logged";
}

<div class="container">
    <h1>
        Hi @ViewBag.schoolName's manager
    </h1>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/img/online-course.png" alt="Major">
        <div class="card-body">
            <h5 class="card-title">Major manage</h5>
            <p class="card-text">You can manage new major here</p>
            <p class="card-text">Total majors: @ViewBag.schoolMajorsCount</p>
            <a asp-controller="Majors" asp-action="Index" class="btn btn-primary">Manage major</a>
        </div>
    </div>
</div>



