@{

}

<div class="container">
    <h1>
        Hi @ViewBag.schoolName's manager
    </h1>
    <div class="row">
        <div class="col-sm-6 p-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Majors manage</h5>
                    <p class="card-text">You can manage majors here</p>
                    <p class="card-text">Total majors: @ViewBag.majorsCount</p>
                    <a asp-controller="Majors" asp-action="Index" class="btn btn-primary">Major manage panel</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 p-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Students manage</h5>
                    <p class="card-text">You can manage students here</p>
                    <p class="card-text">Total students: @ViewBag.studentsCount</p>
                    <a asp-controller="Students" asp-action="Index" class="btn btn-primary">Students manage panel</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 p-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Teachers manage</h5>
                    <p class="card-text">You can manage teachers here</p>
                    <p class="card-text">Total teachers: @ViewBag.teachersCount</p>
                    <a asp-controller="TeacherAccounts" asp-action="Index" class="btn btn-primary">Teachers manage panel</a>
                </div>
            </div>
        </div>
    </div>
</div>



